extends layout

block content
  h1.text-center Hello Boulder!

  .container
      .btn-group.btn-group-justified
        .btn-group
          a(href='/Translate')
            button(value="fra").btn.btn-default.btn-lg Translate a word
        .btn-group
          a.homeLink(href='/quiz')
            button(value="spa").btn.btn-default.btn-lg Take a quiz