doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Translation
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="styles/quiz.css" rel="stylesheet" type="text/css")

	body
		block content
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js")
script(src="/main.js")
script(src="/quiz.js")