extends layout
html(lang='en')
  head
    link(href="styles/quiz.css" rel="stylesheet" type="text/css")

block content

  h1.title Choose a language
    h3.subTitle to begin quiz
  .container
    .lang
      .btn-group.btn-group-justified
        .btn-group
          button(value="fra").langBar.langButton.btn.btn-default French
        .btn-group
          button(value="spa").langBar.langButton.btn.btn-default Spanish
        .btn-group
          button(value="ger").langBar.langButton.btn.btn-default German
        .btn-group
          button(value="ita").langBar.langButton.btn.btn-default Italian

  .container
    .row.quiz-container
      form#quiz-form
        .col-sm-4
          h4.randomWord Translate
        .submitContainer
          .col-sm-4
            input.form-control#word(type="text", name="word", placeholder="Word...")
          .col-sm-2
            input.form-control.btn-primary(type="submit")


