extends layout
html(lang='en')
  head
    link(href="styles/quiz.css" rel="stylesheet" type="text/css")

block content
   
  h1.title Choose a language
  .container.langBar
    .lang
      .btn-group.btn-group-justified
        .btn-group
          button.langButton.btn.btn-default French
        .btn-group
          button.langButton.btn.btn-default Spanish
        .btn-group
          button.langButton.btn.btn-default German
        .btn-group
          button.langButton.btn.btn-default Italian

  .container.quiz-container
    .row
      form#quiz-form
        .col-md-4
          input.form-control#word(type="text", name="word", placeholder="Word...")
        .col-md-1
          input.form-control.btn-primary(type="submit")


    