extends layout
html(lang='en')
  head
    link(href="styles/quiz.css" rel="stylesheet" type="text/css")

block content

  h1.text-center Choose a language
    h3.subTitle.text-center to begin quiz
  .container
    .lang
      .btn-group.btn-group-justified
        .btn-group
          button(value="fra").langButton.btn.btn-default.btn-lg French
        .btn-group
          button(value="spa").langButton.btn.btn-default.btn-lg Spanish
        .btn-group
          button(value="ger").langButton.btn.btn-default.btn-lg German
        .btn-group
          button(value="ita").langButton.btn.btn-default.btn-lg Italian

  .container
    .row.quiz-container
      form#quiz-form
        .col-sm-4
          h4.randomWord Translate
        .submitContainer
          .col-sm-4
            input.form-control#word(type="text", name="word", placeholder="Word...")
          .col-sm-2
            input.form-control.btn-primary(type="submit")


