extends layout

block content
	.container
		.homeButton.text-center
			a(href='/') Home
			.linkBottom
	.container
		h1 Translate a Word
			h3 Enter a word to translate
			form#translate-form(action="/wordSubmit", method="post")
				.row
					.col-sm-7
						input.form-control.input-lg#word(type="text", name="word", placeholder="Word...")
				.row
					.col-sm-3
						input.form-control.input-lg#from(type="text", name="from", placeholder="Origin Language..")
					.col-sm-1
						p.text-center.tranSeperate to
					.col-sm-3
						input.form-control.input-lg#to(type="text", name="to", placeholder="Destination Language..")
				.row
					.col-sm-7
						input.form-control.input-lg(type="submit")
						h3.randomWord.translated
