body, h1, h3 {
font-family: 'Lato', sans-serif;
}

.homeLink {
  text-decoration: none;
}
.langBar {
	margin-top: 20px;
}

.subTitle {
  margin-top: 5px;
}

.quiz-container {
	display: none;
	margin-top: 100px;
  height: 50px;
}

.randomWord {
  text-align: center;
  font-size: 3.5em;
  font-style: italic;
}

.submitContainer {
  padding-top: 25px;
}

.tranSeperate {
  font-size: 1.4em;
  margin-top: 7px;
}

.homeButton {
  text-decoration: none;
}

#checkMark {
  right: 15px;
}

.correct {
  color: green;
}

.inCorrect {
  color: red;
}

.homeButton {
  width: 60px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  float: none;
  font-size: 1.3em;
  padding-top: 10px;
}

.homeButton a {
  text-decoration: none;
  color: black;
}

.linkBottom {
  width: 80px;
  border-bottom: 1px solid black;
  display: table-cell;
  text-align: center;
  float: none;
}

.vCenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#nextButton {
  display: none;
}

.quiz-container-hidden {
  display: none;
}